body{
	font-family: arial;
}
.bgimage{
	background-image: url('../images/tchfunctesunset.jpg') ;
	background-position: center center;
	background-size: cover;
	min-height: 210px;
}	
	
.bgtextcolor{
	color:white;
}
header address a {
	color:aqua;
	text-decoration: underline;
}
/*override the bootstrap default grey colors for collapsable accordins*/
#edata_projects .panel-default > .panel-heading{
  background-color: transparent;
  border:none;
}
/*override the bootstrap default borders for collapsable accordins*/
#edata_projects .panel{
	border:none;
	box-shadow:none;
}

.accordian-control {
	
}

.logoThumbnail {
	max-width: 225px; 
}