body {
  font-family: arial;
}

.navbar {
  margin-bottom: 0px;
}

.navbar-default {
  width: 100%;
  z-index: 1000;
}

li.dropdown-header {
  color: #bbb;
  font-size: 15px;
}

.bgimage {
  background-image: url("../images/tchfunctesunset.jpg");
  background-position: center center;
  background-size: cover;
  min-height: 210px;
}

.experience {
  margin-bottom: 3px;
  font-size: 1.1EM;
}

.noimage {
  background-color: rgb(241, 241, 241);
  background-position: center center;
  background-size: cover;
  min-height: 210px;
}

.homeaddress {
  margin-bottom: 5px;
}

blockquote {
  margin: 8px 4px;
  font-size: 1.1EM;
}

.bgtextcolor {
  color: rgb(44, 101, 116);
}

header address a {
  color: #33aab7;
  text-decoration: underline;
}

#linkedinprofile {
  color: #33aab7;
  text-decoration: underline;
}

/*override the bootstrap default grey colors for collapsable accordins*/

#edata_projects .panel-default > .panel-heading {
  background-color: transparent;
  border: none;
}

/*override the bootstrap default borders for collapsable accordins*/

#edata_projects .panel {
  border: none;
  box-shadow: none;
}

#panel_default_finance.panel-default > .panel-heading,
#panel_default_accounting.panel-default > .panel-heading,
#panel_default_oilgas.panel-default > .panel-heading {
  background-color: transparent;
  border: none;
}

a.accordian-control.collapsed {
  color: #337ab7;
  text-decoration: none;
}

.logoThumbnail {
  max-width: 225px;
}

.panel-title > .intentionalHL {
  color: #337ab7;
  text-decoration: underline;
}

@media (min-width: 768px) {
  div.othIndus {
    width: 65%;
  }

  img.othIndus {
    width: 99%;
  }
}

@media (min-width: < 768px) {
  img.othIndus {
    width: auto;
  }
}

@media (min-width: >992px) {
  img.othIndus {
    width: auto;
  }
}

#panel_edata_heading,
#panel_antares_heading {
  background-color: transparent;
}

.certifications {
  border: 1px dotted #ddd;
  padding: 5px;
}